{% extends "base.html" %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'css/kategori.css' %}" />

<section class="section_dokumen">
<h2>Daftar Dokumen</h2>
<div class="container_search">
    <div class="search">
    <form method="get" action="/">
        <input name="cari" type="search" autofocus placeholder="Masukan Kata Kunci" value="{{request.GET.cari}}" />
        <button type="submit" class="btn-get-started"><i class="bi bi-search"></i>cari</button>
    </form>
    </div>
</div>

<div class="container_dokumen">
    <div class="container_card">
    <div class="card">
        <div class="row">
        <p>ini isi nomor</p>
        <p>ini isi judul</p>
        <p>ini isi tahun</p>
        <a class="btn-custom" href="/"> Detail</a>
        </div>
    </div>
    <div class="card">
        <div class="row">
        <p>ini isi nomor</p>
        <p>ini isi judul yang panjang Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, dolor.</p>
        <p>ini isi tahun</p>
        <a class="btn-custom" href="/"> Detail</a>
        </div>
    </div>
    <div class="card">
        <div class="row">
        <p>ini isi nomor</p>
        <p>ini isi judul</p>
        <p>ini isi tahun</p>
        <a class="btn-custom" href="/"> Detail</a>
        </div>
    </div>
    <div class="card">
        <div class="row">
        <p>ini isi nomor</p>
        <p>ini isi judul</p>
        <p>ini isi tahun</p>
        <a class="btn-custom" href="/"> Detail</a>
        </div>
    </div>
</div>
</section>

{% endblock content %}
