{% extends "base.html" %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'css/doc.css' %}" />

<section class="section_dokumen">
  <h2>Dokumen Hukum Lainnya</h2>
  <div class="container_search">
    <div class="search">
      <input type="search" autofocus placeholder="Masukan Kata Kunci" />
      <a href="#" class="btn-get-started"><i class="bi bi-search"></i>cari</a>
    </div>
  </div>

  <div class="container_dokumen">
    <div class="container_card">
      <div class="card">
        <div class="row">
          <p>no dokumen</p>
          <p>judul dokumen</p>
          <p>tahun keluar, berapa banyak yang melihat</p>
          <a class="btn-custom" href="#"> Detail</a>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <p>no dokumen</p>
          <p>judul dokumen</p>
          <p>tahun keluar, berapa banyak yang melihat</p>
          <a class="btn-custom" href="#"> Detail</a>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <p>no dokumen</p>
          <p>judul dokumen</p>
          <p>tahun keluar, berapa banyak yang melihat</p>
          <a class="btn-custom" href="#"> Detail</a>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <p>no dokumen</p>
          <p>judul dokumen</p>
          <p>tahun keluar, berapa banyak yang melihat</p>
          <a class="btn-custom" href="#"> Detail</a>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <p>no dokumen</p>
          <p>judul dokumen</p>
          <p>tahun keluar, berapa banyak yang melihat</p>
          <a class="btn-custom" href="#"> Detail</a>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <p>no dokumen</p>
          <p>judul dokumen</p>
          <p>tahun keluar, berapa banyak yang melihat</p>
          <a class="btn-custom" href="#"> Detail</a>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <p>no dokumen</p>
          <p>judul dokumen</p>
          <p>tahun keluar, berapa banyak yang melihat</p>
          <a class="btn-custom" href="#"> Detail</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
