{% extends "base.html" %} {% block content %} {% load static %}

<!-- Main Contain -->
<main class="main">
  <!-- Hero Section -->
  <section id="hero" class="hero section">
    <img src=" {% static 'images/hero-bg-abstract.jpg' %} " alt="" data-aos="fade-in" class="" />

    <div class="container">
      <div class="row justify-content-center" data-aos="zoom-out">
        <div class="col-xl-12 col-lg-9 text-center">
          <h1>Jaringan Dokumentasi dan Informasi Hukum <span>Universitas Negeri Manado</span></h1>
        </div>
      </div>
      <div class="cont-search">
        <div class="search">
          <input type="search" autofocus placeholder="Masukan Kata Kunci" />
          <a href="#" class="btn-get-started"><i class="bi bi-search"></i>cari</a>
        </div>
      </div>

      <div class="row gy-4 mt-5">
        <h2>Dokumen Hukum Terbaru</h2>
        <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-book-half"></i></div>
            <h4 class="title"><a href="">Keputusan Rektor</a></h4>
            <p class="description">- Artikel Terbaru -</p>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-book-half"></i></div>
            <h4 class="title"><a href="">Peraturan</a></h4>
            <p class="description">- Artikel Terbaru -</p>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-book-half"></i></div>
            <h4 class="title"><a href="">Artikel</a></h4>
            <p class="description">- Artikel Terbaru -</p>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-book-half"></i></div>
            <h4 class="title"><a href="">Dokumen Hukum Lainnya</a></h4>
            <p class="description">- Artikel Terbaru -</p>
          </div>
        </div>
        <!--End Icon Box -->
      </div>
    </div>
  </section>
  <!-- /Hero Section -->

  <!-- Stats Section -->
  <section id="stats" class="stats section light-background">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <h2>Dokumen Hukum</h2>
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <i class="bi bi-book"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Keputuran Rektor</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <i class="bi bi-book"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Peraturan</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <i class="bi bi-book"></i>
            <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
            <p>Artikel</p>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <i class="bi bi-book"></i>
            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
            <p>Monografi</p>
          </div>
        </div>
        <!-- End Stats Item -->
      </div>
    </div>
  </section>
  <!-- /Stats Section -->

  <!-- About Section -->
  <section id="about" class="about section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Tentang JDIH<br /></h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul>
            <li><i class="bi bi-check2-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
            <li><i class="bi bi-check2-circle"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
            <li><i class="bi bi-check2-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo</span></li>
          </ul>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </p>
          {% comment %} <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> {% endcomment %}
        </div>
      </div>
    </div>
  </section>
  <!-- /About Section -->

  <!-- Contact Section -->
  <section id="contact" class="contact section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Kontak</h2>
      <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> -->
    </div>
    <!-- End Section Title -->

    <!-- Google Maps -->
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="mb-4" data-aos="fade-up" data-aos-delay="200">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7977.687057788332!2d124.883233!3d1.26656!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3287151827c01375%3A0x5543146a99cb0f2d!2sUniversitas%20Negeri%20Manado!5e0!3m2!1sid!2sid!4v1743667343004!5m2!1sid!2sid"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <!-- End Google Maps -->

      <div class="row gy-4">
        <div class="col-lg-4">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>Alamat</h3>
              <p>Jl. Kampus Unima, Kelurahan Tonsaru, Kecamatan Tondano Selatan</p>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Hubungi kami</h3>
              <p>Hayo, isi apa di sini hayo</p>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Kami</h3>
              <p>UNIMA@example.com</p>
            </div>
          </div>
          <!-- End Info Item -->
        </div>

        <div class="col-lg-8">
          <form action="Masi mo bekeng dp link" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">
              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Nama" required="" />
              </div>

              <div class="col-md-6">
                <input type="email" class="form-control" name="email" placeholder="Email" required="" />
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required="" />
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Pesan" required=""></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <button type="submit">Kirim</button>
              </div>
            </div>
          </form>
        </div>
        <!-- End Contact Form -->
      </div>
    </div>
  </section>
  <!-- /Contact Section -->
</main>
<!-- End Main Contain -->

{% endblock content %}
