{% extends "base.html" %} {% block content %} {% load static %}

<!-- Main Contain -->
<main class="main">
  <section id="hero" class="hero section">
    <img src=" {% static 'images/hero-bg-abstract.jpg' %} " alt="" data-aos="fade-in" class="" />

    <div class="container">
      <div class="row justify-content-center" data-aos="zoom-out">
        <div class="col-xl-12 col-lg-9 text-center">
          <h1>Jaringan Dokumentasi dan Informasi Hukum</h1>
          <h1><span>Universitas Negeri Manado</span></h1>
        </div>
      </div>
      <div class="cont-search">
        <form class="search" method="get" action="{% url 'index' %}">
          <div class="btn-group">
            <button type="button" class="btn-detail" id="btnPencarianDetail"><i class="bi bi-sliders"></i> Pencarian Detail <i class="bi bi-chevron-down"></i></button>
            <div class="dropdown-menu" id="menuPencarian">
              <div class="dropdown-item">
                <button type="submit" name="search_type" value="binary"><i class="bi bi-search"></i> dengan binary</button>
              </div>
            </div>
          </div>

          <input name="cari" type="search" autofocus placeholder="Cari dokumen" value="{{ request.GET.cari }}" />

          <button type="submit" name="search_type" value="regular" class="btn-cari-utama"><i class="bi bi-search"></i> cari</button>
        </form>
      </div>

      {% if query %}
      <div class="row justify-content-center gy-4 mt-5">
        <h2>Hasil pencarian untuk kata {{query}}</h2>
        {% if is_binary %} {%for item in dokumen_list %}
        <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="100">
          <div class="icon-box">
            <a href="{% url 'detail_view' item.slug%}">
              <div class="icon"><i class="bi bi-book-half"></i></div>
              <h4 class="title truncate w-65">{{ item.kategori }}</h4>
            </a>
            <p class="description">- {{item.dokumen.nomor}} -</p>
            <p class="description truncate w-65">{{item.dokumen.judul|lower|capfirst}}</p>
            <p class="description"><strong>{{query}} muncul {{item.frekuensi}} kali</strong></p>
          </div>
        </div>
        {% empty %}
        <div class="col-12 text-center">
          <div class="alert alert-warning">"{{query}}" Tidak ditemukan</div>
        </div>
        {% endfor %} {% else %} {%for dokumen in dokumen_list %}
        <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="100">
          <div class="icon-box">
            <a href="{% url 'detail_view' dokumen.slug%}">
              <div class="icon"><i class="bi bi-book-half"></i></div>
              <h4 class="title">{{ dokumen.kategori }}</h4>
            </a>
            <p class="description">- {{dokumen.nomor}} -</p>
            <p class="description truncate w-65">{{dokumen.judul|lower|capfirst}}</p>
          </div>
        </div>
        {% empty %}
        <div class="col-12 text-center">
          <div class="alert alert-warning">"{{query}}" Tidak ditemukan</div>
        </div>
        {% endfor %} {% endif %}
      </div>
      {% else %}
      <div class="row justify-content-center gy-4 mt-5">
        <h2>Dokumen Hukum Terbaru</h2>
        {%for dokumen in dokumen_list %}
        <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="100">
          <a href="{% url 'detail_view' dokumen.slug%}">
            <div class="icon-box">
              <div class="icon">
                <i class="bi bi-book-half"></i>
                <h4 class="title">{{ dokumen.kategori }}</h4>
              </div>
              <div class="descrip_box">
                <p class="description truncate w-65 capitalize-text">{{dokumen.judul|lower|capfirst}}</p>
              </div>
              <div class="descrip_footer">
                <p class="description">Nomor {{dokumen.nomor}}</p>
                <p>&nbsp;<span class="bi bi-eye-fill"></span> {{ dokumen.jumlah_dilihat }} <span class="bi bi-file-arrow-down-fill"> {{ dokumen.jumlah_diunduh }}</span></p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      <div class="text-center mt-4">
        {% if show_all %} {% if page_obj.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if query %}&cari={{ query }}&search_type={{ request.GET.search_type }}{% else %}&show=all{% endif %}">«</a></li>
            {% endif %} {% for i in page_obj.paginator.page_range %} {% if page_obj.number == i %}
            <li class="page-item active"><span class="page-link bg-transparent text-dark">{{ i }}</span></li>
            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}{% if query %}&cari={{ query }}&search_type={{ request.GET.search_type }}{% else %}&show=all{% endif %}">{{ i }}</a></li>
            {% elif i == page_obj.paginator.page_range.0 or i == page_obj.paginator.page_range|last %}
            <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %} {% endfor %} {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% if query %}&cari={{ query }}&search_type={{ request.GET.search_type }}{% else %}&show=all{% endif %}">berikutnya »</a></li>
            {% endif %}
          </ul>
        </nav>
        {% endif %} {% else %}
        <a href="?show=all" class="btn">Lihat Semua Dokumen</a>
        {% endif %}
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <!-- Stats Section -->
  <section id="stats" class="stats section light-background">
    <div>
      <h2>Dokumen Hukum</h2>
    </div>
    <div class="container" data-aos="fade-up" data-aos="zoom-out" data-aos-delay="100">
      <div class="row gy-4">
        {% for kategori in hitung_kategori %}
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <a href="{% url 'kategori_view' kategori.slug %}">
              <i class="bi bi-book"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{kategori.jumlah_dokumen}}" data-purecounter-duration="1" class="purecounter"></span>
              <h4>{{kategori.nama}}</h4>
            </a>
          </div>
        </div>
        {% endfor %}
        <!-- End Stats Item -->
      </div>
    </div>
  </section>
  <!-- /Stats Section -->

  <!-- About Section -->
  <section id="about" class="about section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Tentang JDIH<br /></h2>
      <p>Mewujudkan Tata Kelola Universitas yang Transparan, Akuntabel, dan Berlandaskan Hukum.</p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
          <p class="text-justify">
            Jaringan Dokumentasi dan Informasi Hukum Universitas Negeri Manado adalah pusat pengelolaan dan pelayanan informasi produk hukum yang berlaku di lingkungan UNIMA. Dibangun sebagai wujud komitmen universitas dalam menerapkan
            prinsip tata kelola yang baik, JDIH UNIMA bertujuan untuk memberikan kemudahan akses bagi seluruh sivitas akademika dan masyarakat umum dalam mencari dan memahami berbagai produk hukum yang menjadi landasan operasional
            universitas.
          </p>
          <ul>
            <li><span>Menyediakan akses yang mudah, cepat, dan akurat terhadap seluruh produk hukum internal UNIMA.</span></li>
            <li><span>Mendukung terwujudnya transparansi, kepastian hukum, dan penyelenggaraan administrasi universitas yang akuntabel.</span></li>
          </ul>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <p class="text-justify">
            Melalui platform ini, kami berharap dapat membantu mahasiswa, dosen, tenaga kependidikan, serta mitra kerja dalam memahami dasar hukum dari setiap kebijakan dan kegiatan yang dilaksanakan di Universitas Negeri Manado. JDIH UNIMA
            berkomitmen untuk terus mengembangkan dan memperbarui basis data secara berkala demi memberikan pelayanan informasi hukum yang prima dan terpercaya.
          </p>
          {% comment %} <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> {% endcomment %}
        </div>
      </div>
    </div>
  </section>
  <!-- /About Section -->

  <!-- Contact Section -->
  <section id="contact" class="contact section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Kontak</h2>
      <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> -->
    </div>
    <!-- End Section Title -->

    <!-- Google Maps -->
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="mb-4" data-aos="fade-up" data-aos-delay="200">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.843528894166!2d124.883233!3d1.2665600000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3287151827c01375%3A0x5543146a99cb0f2d!2sUniversitas%20Negeri%20Manado!5e0!3m2!1sid!2sid!4v1747802925008!5m2!1sid!2sid"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <!-- End Google Maps -->

      <div class="row gy-4">
        <div class="col-lg-4">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>Alamat</h3>
              <p>Jl. Kampus Unima, Kelurahan Tonsaru, Kecamatan Tondano Selatan</p>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Hubungi kami</h3>
              <p>+26 127 000 100</p>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Kami</h3>
              <p>UNIMA@example.com</p>
            </div>
          </div>
          <!-- End Info Item -->
        </div>

        <div class="col-lg-8">
          <form action="/" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
            {% csrf_token %}
            <div class="row gy-4">
              <div class="col-md-6">{{f_kontak.nama}}</div>

              <div class="col-md-6">{{f_kontak.email}}</div>

              <div class="col-md-12">{{f_kontak.pesan}}</div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <button type="submit">Kirim</button>
            </div>
          </form>
        </div>
        <!-- End Contact Form -->
      </div>
    </div>
  </section>
  <!-- /Contact Section -->
</main>
<!-- End Main Contain -->

{% endblock content %}
