{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
<footer id="footer" class="footer light-background">
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <span class="sitename">Universitas Negeri Manado</span>
        </a>
        <p>Disclaimer: Seluruh Dokumen Hukum yang terhimpun di dalam laman jdih.ti.unima.ac.id bersumber dari UNIMA.</p>
        <div class="social-links d-flex mt-4">
          <a href="mailto:teknikinformatika@unima.ac.id"><i class="bi bi-envelope"></i></a>
          <a href="https://api.whatsapp.com/send/?phone=628985029407&text=Halo%2C+saya+ingin+bertanya+tentang+Program+Studi+Teknik+Informatika+UNIMA&type=phone_number&app_absent=0"><i class="bi bi-whatsapp"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Tautan</h4>
        <ul>
          <li><a href="{% url 'index' %}">Beranda</a></li>
          {%for kategori in daftar_kategori%}
          <li><a href="{% url 'kategori_view' kategori.slug %}">{{kategori.nama}}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Kontak Kami</h4>
        <p><i class="bi bi-house"></i> Jl. Kampus Unima</p>
        <p>Kelurahan Tonsaru, Kecamatan Tondano Selatan</p>
        <p><strong>Email:</strong> <span><a href="mailto:teknikinformatika@unima.ac.id" class="text-reset">teknikinformatika@unima.ac.id</a></span></p>
      </div>
    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>TI UNIMA</span> <span>All Rights Reserved</span></p>
    <p>Develop by <strong>Llio18</strong>  | <strong>TI UNIMA</strong> </p>
</footer>
