<footer id="footer" class="footer light-background">
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <span class="sitename">Universitas Negeri Manado</span>
        </a>
        <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
        <div class="social-links d-flex mt-4">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>links</h4>
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          {%for kategori in daftar_kategori%}
          <li><a href="{% url 'kategori_view' kategori.slug %}">{{kategori.nama}}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Kontak Kami</h4>
        <p><i class="bi bi-house"></i> Jl. Kampus Unima</p>
        <p>Kelurahan Tonsaru, Kecamatan Tondano Selatan</p>
        <p><strong>Email:</strong> <span>UNIMA@example.com</span></p>
      </div>
    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">OnePage</strong> <span>All Rights Reserved</span></p>
    <div class="credits">Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href=“https://themewagon.com>ThemeWagon</div>
  </div>
</footer>
